PORT=5002
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres
JWT_SECRET=supersecretkey123
JWT_REFRESH_SECRET=supersecretrefreshkey123
